h1{
    text-align: center;
}
h2{
    text-align: center;
}
header{
    margin: 0 auto 0 auto;
}
header h1 h2{
    text-align: center;
}
table{
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}
table th,table td{
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 156.25%;
}
#contents table thead tr th:nth-child(4){
    color: green;
}
#contents table thead tr th:nth-child(5){
    color: blue;
}
#contents table tbody tr td:nth-child(4){
    color: green;
}
#contents table tbody tr td:nth-child(5){
    color: blue;
}
#contents table tbody tr th:nth-child(){
    background-color: green;
    color: white;
}
#hyouki ul li{
    text-align: center;
    list-style-type: none;
}