h1{
    text-align: center;
}
#hyouki ul{
    margin: 0 auto 0 auto;
    list-style-type: none;
    text-align: center;
}
table{
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}
table th,table td{
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 156.25%;
}
table thead th:nth-child(2){
    background-color: yellow;
}
table thead th:nth-child(3){
    background-color: red;
    color: white;
}
table thead th:nth-child(4){
    background-color:blue;
    color: white;
}
table thead th:nth-child(5){
    background-color: orange;
}
table thead th:nth-child(6){
    background-color: palevioletred;
    color: white;
}
table thead th:nth-child(7){
    background-color: skyblue;
    color: white;
}