/* CSS */
body{
	line-height: 0.5;
}
header,#container{
	margin: 0 auto 0 auto;
	width: 700px;
}
header h1{
	text-align: center;
	margin-bottom: 60px;
}
main{
	background-color: yellowgreen;
	float: left;
	color: white;
}
aside{
	background-color: green;
	float: right;
	color: white;
}
#container main #mino{
	text-align: center;
	font-size: 300%;
}
#container main h2{
	text-align: center;
}
#container main #weather_mark_1{
	text-align: center;
}
#container main #weather_mark_1 img{
	width: 300px;
	height: 300px;
}
#container aside #weather_mark_2{
	text-align: center;
}
#container aside #weather_mark_2 img{
	width: 300px;
	height: 300px;
}
#container aside #hida{
	text-align: center;
	font-size: 300%;
}
#container aside h2{
	text-align: center;
}